<div class="container-fluid">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
      <img class="bood-detail-img"src={{book.thumbnailImage}} alt="">
      <button *ngIf="bookAvaliable" class="btn btn-success">Issue</button>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
      <h3>{{book.bookTitle}}</h3>
      <p>--{{book.author}}</p>

      <label for="">Isbn</label>
      <p>{{book.isbn}}</p>

      <label for="">Description</label>
      <p>{{book.description}}</p>

      <label for="">Category</label>
      <p *ngFor = 'let cat of book.categories'>
        {{cat}}
      </p>
  </div>
</div>


</div>